<div class="sidebar-box">
    <h3 class="heading">Categories</h3>
    <ul class="categories">

      
      <%categories.forEach((category) => {%>
      <li><a href="/blog"><%= category.category_name %><span></span></a></li>
      <!-- <li><a href="/blog">Quotes <span>(22)</span></a></li>
      <li><a href="/blog">Lifestyle <span>(37)</span></a></li>
      <li><a href="/blog">Prayer <span>(42)</span></a></li>
      <li><a href="/blog">Growth <span>(14)</span></a></li> -->

      <% })%>
    </ul>
  </div>