<div class="sidebar-box">
    <div class="bio text-center">
      <img src="images/victor2.jpeg" alt="Image Placeholder" class="img-fluid">
      <div class="bio-body">
        <h2>Victor</h2>
        <p>Ayodeji Victor Bolorunduro is a child of God who considers himself a product of Grace. 
          A journalist by profession, Victor, who has had a consistent work with God spanning over two decades, is very passionate about the Word of God and the unrivalled life lessons The Word offers.
          He is a firm believer in the integrity of God's Word's and its ability to change lives, irrespective of the past.</p>
        <p><a href="/about" class="btn btn-primary btn-sm rounded">Read my bio</a></p>
        <p class="social">
          <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
          <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
          <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
          <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
        </p>
      </div>
    </div>
  </div>