

  
      <%- include('../partials/dashboard/Header.ejs'); %>


      <body class="">
        <div class="wrapper ">
          <div class="sidebar" data-color="white" data-active-color="danger">
        
              <%- include('../partials/dashboard/Sidebar.ejs'); %>
      
          </div>
          <div class="main-panel">
            <!-- Navbar -->
     

<%- include('../partials/dashboard/Nav.ejs'); %>

            <!-- End Navbar -->
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-header">
                          <h4 class="card-title">Downloadables</h4>
                        </div>
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="table">
                              <thead class=" text-primary">
                                <th>
                                  Name
                                </th>
                                <th>
                                  Status
                                </th>
                                <th>
                                  Views
                                </th>
                                <th>
                                  Downloads
                                </th>
                                <th>
                                  Type
                                </th>
                                <th>
                                  Delete
                                </th>
                               
                              </thead>
                              <tbody>
                                <tr>
                                  <td>
                                    Dakota Rice
                                  </td>
                                  <td>
                                    draft
                                  </td>
                                  <td>
                          0
                                  </td>
                                  <td>
                          0
                                  </td>
                                  
                                  <td>
                          Music
                                  </td>
                                  
                  
                            
                                  
                                  <td>
                                 <a href="#">          <i style="color: red; font-size: medium;" class="nc-icon nc-simple-remove"></i></a>
                                  </td>
                                </tr>
                    
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
               
                  </div>
            </div>
          
        <%- include('../partials/dashboard/Footer.ejs'); %>
      