<%- include('./partials/Header.ejs'); %>

<section class="site-section py-lg">
  <div class="container">
    <div class="row blog-entries element-animate">
      <div class="col-md-12 col-lg-12 main-content">
        <img src="https://images.pexels.com/photos/5668473/pexels-photo-5668473.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Image" class="img-fluid mb-5" />
       
        <h1 class="mb-4">Copyright</h1>
  

        <div class="fr-view post-content-body " id="preview" >

    
<p>
    Unauthorised use and/or duplication of this material without express and written permission from this site’s owner/author and guest authors is strictly prohibited. Excerpts and links may be used, provided that full and clear credit is given to the author and to dailymusings.today, with appropriate and specific direction (URL link) to the original content. Please respect the hard work and study that we bloggers put into each blog post- plagiarism is taken very seriously.
Plagiarised content discovered will always be formally reported.
Thank you.
</p>

        </div>
       


      </div>

      <!-- END main-content -->

  
    </div>
  </div>
</section>



<%- include('./partials/Footer.ejs'); %>
